{{define "newpage"}}
    <!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
    </head>
    <body>
    <form action="/create" method="post">
        <div>
            <label for="title">名前をつけてください</label>
            <input type="text" name="title" id="title" placeholder="私のモーニングルーティン" required>
        </div>
        <div>
            <label for="firstRoutine">あなたが起きて最初にすることは?</label>
            <input type="text" name="firstRoutine" id="firstRoutine" placeholder="大きく背を伸びる" required>
        </div>
        <div>
            <label for="secondRoutine">あなたが起きて２番目にすることは?</label>
            <input type="text" name="secondRoutine" id="secondRoutine" placeholder="カーテンを開けて日光をあびる">
        </div>
        <div>
            <label for="thirdRoutine">あなたが起きて３番目にすることは?</label>
            <input type="text" name="thirdRoutine" id="thirdRoutine" placeholder="コーヒーを入れる">
        </div>
        <div>
            <label for="message">みんなにメッセージをどうぞ</label>
            <input type="text" name="message" id="message" placeholder="気持ちのいい朝を過ごしましょう！！" required>
        </div>
        <div>
            <button>登録する</button>
        </div>
    </form>
    </body>
    </html>
{{end}}
